.imgConfig img {
    position: relative;
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    filter: grayscale(80%);
}

.imgConfig p {
    margin-top: 70px;
    position: absolute;
    font-size: 1.5rem;
    color: white;
    font-weight:bolder;
    font-style: italic;
}

.cripto {
    max-height: 10vh;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    color: black;
    text-align: end;
}