.card-login {
    display: flex;
    width: 100%;
    min-height: 500px;
    justify-content: center;
    align-items: center;
  }
.img-logo{
  border-radius: 0% !important;
}

.input-wrapper input {
  background-color: white;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: black;
  box-shadow: 0 0.4rem #282262;
  cursor: pointer;
 }
 
 .input-wrapper input:focus {
  outline-color: #FF3270;
 }


.btn {
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 0.7em 2em;
  border: 1px solid #FF3270;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 10px rgba(40,34,98, 0.16), 0 3px 6px rgba(40,34,98, 0.1);
  color: #FF0072;
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
 }
 
.btn:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: #FF3270;
  z-index: -1;
 }
 
.btn:hover, .btn:focus {
  color: white;
 }
 
 .btn:hover:before, .btn:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }
 
 .btn:active {
  transform: scale(0.9);
 }