.navbar{
    background-color: rgb(147, 150, 179);
    color: white;
    
  }
  
  .nav-item{
    font-size: larger;
    font-family: "Source Code Pro", monospace;
    transition: transform 0.2s;
  }

  .nav-item:hover{
    transform: scale(1.1);
  }
  
  .img-logo {
    width: 200px;
  }
